body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-dialog {
    background-color: #fff;
    border-radius: 8px;
    background: linear-gradient(to bottom, #2c5472, #F0F0F0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    max-width: 400px;
    height: 80%;
    max-height: 400px;
}

.login-content {
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #083C63;
    font-weight: bolder;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    width: 85%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    width: 40%;
    background-color: #083C63;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.login-content p {
    margin-top: 20px;
    font-size: 14px;
    color: #083C63;
    font-weight: 600;
}

.login-content a {
    color: #083C63;
}

.login-content a:hover {
    cursor: pointer;
}